<!-- Theme için index dosyamızı düzenledik -->
<body class="hold-transition sidebar-mini ">
  <div class="wrapper">

    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-aside></app-aside>

    <!-- Content Wrapper. Contains page content -->
    <!-- Layout içerisinde yüklenen sayfalar buraya gelsin -->
    <router-outlet></router-outlet>
    <!-- /.content-wrapper -->

    <app-footer></app-footer>

    <!-- Control Sidebar -->
    <app-left-aside></app-left-aside>
    <!-- /.control-sidebar -->
  </div>
</body>
