<!-- NavBarı ayrı bir component olarak ekledim -->
<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <!-- RenderBody gibi düşünebilirsiniz -->
      <!-- Normalde app.component.html içerisinde de vardı fakat biz route mekanizmasında layout sayfası için children routelar belirledik ve artık children route'lar burada initilaize edileceklerdir -->
      <router-outlet></router-outlet>
    </div>
  </div>

</div>




<!-- Footer eklendi -->
<app-footer></app-footer>
