<!-- scriptler ve değişkenler direkt service bağlı -->
<input [(ngModel)]="arrayService.name" type="text">
<button (click)="arrayService.save()">Save</button>
<hr>
<ul *ngFor="let name of arrayService.names">
  <li>{{name}}</li>
</ul>

<!-- Servisimi eklediğim c2 componentini de burada çağırıyorum -->
<!-- Angular'ın çok güzel bir özelliği olarak,
   servisimiz sayesinde state management servis
   taraınfdan yönetiliyor ve değerleri diğer componentlerde de görebiliyoruz -->
<app-c2></app-c2>
