<p>c2 works!</p>

<!-- Generic Componentimizi tanımlıyoruz -->
<!-- İstediği sütun isimlerini bu şekilde de verebileceğimiz gibi ts dosyasından da verebiliriz -->
<app-table [heads]="['Coloumn 10', 'Coloumn 11', 'Coloumn 12', 'Coloumn 13']">
  <!-- Table Componenti içerisinde ng-content tanımı yapmıştık aslında onun yerine kullanacağız -->
  <tr *ngFor="let item of list let index=index">
    <td>{{index+1}}</td>
    <td> {{item.name}}</td>
    <td> {{item.surname}}</td>
    <td> {{item.age}}</td>
  </tr>
  <!-- Generic Componentime ng-container aracılığıyla atama yapıyorum,#tfoot isimlendirmesi sayesinde istediğim parçaya müdahale edebilirim -->
  <ng-container #tfoot>
    <tr>
      <td>Footer 1</td>
      <td>Footer 2</td>
      <td>Footer 3</td>
      <td>Footer 4</td>
    </tr>
  </ng-container>
</app-table>
